@import "../../../../components/GlobalStyles/globalStyles.scss";
.footer {
    width: 85%;
    height: 210px;
    display: flex;
    margin: 20px auto 50px;
}

.information {
    width: 50%;
    h3 {
        display: inline-block;
        padding-right: 5px;
    }
    padding-right: 30px;
    p,
    span {
        font-size: 1.4rem;
    }
}

.email {
    width: 20%;
    flex: 3;
    h3 {
        padding: 0 0px 15px 0;
    }
    input {
        width: 70%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid $primary-color;
        outline: none;
    }
    input.active {
        border: 1px solid red;
    }
    small {
        padding-left: 10px;
        color: red;
    }
    button {
        margin-left: 5px;
        width: 15%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid $primary-color;
        outline: none;
        font-weight: bold;
        color: $primary-color;
        cursor: pointer;
    }
}

.contact {
    width: 20%;
    flex: 2;
    img {
        width: 85%;
        height: 85%;
        object-fit: cover;
        object-position: center;
    }
    .icons_contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        svg {
            width: 20px;
            height: 20px;
            fill: #6c6c6c;
            &:hover {
                cursor: pointer;
                fill: #000;
            }
        }
    }
}

.copy_right {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    height: 25px;
    line-height: 25px;
}