@import "../../../../components/GlobalStyles/globalStyles.scss";
@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.close {
    position: absolute;
    right: -16px;
    top: -16px;
    text-align: center;
    button {
        width: 32px;
        aspect-ratio: 1/1;
        cursor: pointer;
        padding: 4px 4px;
        border: none;
        background-color: $primary-color;
        color: #fff;
        border-radius: 50%;
        border: 2px solid #fff;
        svg {
            fill: #fff;
            width: 15px;
            aspect-ratio: 1/1;
        }
    }
}

.main {
    width: 330px;
    height: 520px;
    border-radius: 10px;
    position: relative;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
    animation: modalFadeIn ease 1s;
}

.logo {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -44px;
    left: 50%;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    padding: 20px 15px;
    border: 1px solid #aaa;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    h2 {
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
    }
    &_control {
        width: 100%;
        height: 100%;
        padding: 14px;
        font-size: 1.4rem;
        border-radius: 4px;
        outline: none;
        border: 1px solid #aaa;
        &_active {
            width: 100%;
            height: 100%;
            padding: 5px;
            font-size: 1.4rem;
            border-radius: 4px;
            outline: none;
            border: 1px solid #f44336;
        }
        &:focus {
            border: 2px solid $primary-color;
        }
    }
    &_message {
        color: #f44336;
        font-size: 1.1rem;
        font-weight: 500;
        align-content: start;
        padding-left: 10px;
    }
    button {
        font-size: 1.4rem;
        padding: 14px;
        width: 100%;
        text-transform: uppercase;
        background-color: $primary-color;
        color: #fff;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 4px;
        transition: 0.3s;
        font-weight: bold;
        &:hover {
            opacity: 0.9;
        }
    }
}

.open {
    display: flex;
}